* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  background-color: #FFF
}
header {
  height: 25vh;
  background-color: cadetblue;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
main {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  padding:0.5rem;
  background-color: rgb(248, 246, 243);
  height: 100vh;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  gap:1rem;
}
.barcode-main{
  flex:2;
  width: 900px;
  height: 75vh;
}
.barcode-gallerycontainer
{

  display: flex;
  gap:1rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto; 
}

.barcode-main,
.data-container{
    background-color: #f5f5f5;
    max-height: 75vh;
    padding: 10px 20px;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
     align-items: center;
    display:flex;
    flex-direction: column;
}

.data-container .data-row:nth-child(odd){
    background-color: #bdb8b8;
}
.barcode-table{
    width:100%;
    height: 75vh;
    overflow-y: auto; 
}



.data-row-title{
    background-color: #1e1e1e;
    color:#fff;
    height: 2rem;;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
   
}

.data-row-title,
.data-row{
    width:100%;
    display: flex;
    gap:0.5rem;
    justify-content: space-evenly;
    
}
.data-row{
    border:1px solid #1e1e1e;
    padding:0.2em;
    align-items: center;
}
.data-row-title div,
.data-row div{
    flex: 1;
    text-align: center; 
   align-self: center;
    
}


footer {
  height: 25vh;
  background-color: cadetblue;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  flex:1;
    background-color: #f5f5f5;
    height: 75vh;
    padding: 10px 20px;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items:self-start
  }
  
  fieldset {
    border: none;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
  }
  
  fieldset legend {
    border-bottom: 1px solid  rgba(0, 0, 0, 0.5);
    padding: 16px;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20%;
  
  }
  
  fieldset label {
    margin: 16px;
  }
  
  fieldset input {
    height: 56px;
    margin-top: 8px;
    background: #fafafc;
    width: 100%;
    text-align: center;
    border: 1px solid #e6e6f0;
    border-radius: 8px;
  }
  
  fieldset h2 {
    margin: 32px auto 12px;
  }
  
  
  input {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  }
  

  .input-wrapper {
    display: flex;
   
    flex-direction: column;
    width: 100%;
  }
  
  .container-btn {
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding: 0 50px;
  }
  
  .container-btn button {
    border: none;
    height: 55px;
    border-radius: 12px;
    cursor: pointer;
    background-color: #217416c1;
    font-weight: 400;
    font-size: 20px;
    color: white;
    transition: 2000ms;
  }
  
  .container-btn button:hover {
    background-color: #51c243;
  }
  
  .barcode-card {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 90rem;
    gap:12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
  }
